



<div class="container">
  <div class="jumbotron">

    <% if current_user %>
      <h3> Session already active </h3>

    <% else %>

      <h3> Login </h3>

      <div class="errorMessage" ><%= notice %></div>

      <%= simple_form_for @session, :url => login_url do |f| %>
        <%= f.input :username %> 
        <%= f.input :password %> 
        <%= f.button :submit, 'Login', :class => "btn btn-default btn-light"  %>
      <% end %>
    <% end %>

    <Button id="Home" class="btn btn-default btn-light"> <%= link_to("Home", "/") %> </Button>

  </div>
</div>
