



<div class="container">
  <div class="jumbotron">
  
    <% if current_user %>
      <h3> Session already active </h3>

    <% else %>

      <h2> Register </h2>

      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited the details from being registered:</h2>

          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>


      <div class="errorMessage" ><%= notice %></div>


      <%= simple_form_for @user, :html=> { class: 'InputJQuery' }  do |f| %> 
          <%= f.input :username %> 
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
        <%= f.button :submit, 'Register', :class => "btn btn-default btn-light" %> 

      <% end %>

    <% end %>
      <Button id="Home" class="btn btn-default btn-light"> <%= link_to("Home", "/") %> </Button>
  </div>
</div>
