

<div class="container">
  
  <div class="jumbotron">
  <p id="notice"><%= notice %></p>

  <% if @album.empty? %>
  <h3> <%= t('favourites.empty') %></h3>
  <% else %>
  <h3><%= t('favourites.title') %></h3>
  <br>

      <div class="row">
      <% @album.each do |album| %>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <!-- <img src="..." alt="..."> -->
            <div class="caption">
              <h3 class="favouriteName"><td><%= album.name %></td></h3>
              <td class="favouriteDescription"><%= album.description %></td>
              <p>
                <!-- maybe use post form to submit id to songs controller-->
                <%= link_to 'View', songs_path(album), class: "btn btn-primary" %>
                <%= link_to 'Remove', "/favourites/"+album.id.to_s, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%>
              </p>
            </div>
          </div>
        </div>

      <% end %>
      </div>
  <% end %>

  </div>
</div>
