



<div class="container">
    <div class="jumbotron">
        <div class="successMessage" ><%= notice %> </div>
            <h1 id="homeTitle">
            <% if current_user %>
                Welcome <span id="username"><%= current_user.username %></span> to the Music collection website!
            <% else %>
                <%= t('home.title') %>
            <% end %>
            </h1>
            <p> <%= t('home.welcome') %>  </p>
            <p> <%= t('home.introduction') %></p>
            <h4 style="color:red;margin-bottom:40px"> Scroll down and all the way up after to see JQuery navbar animation </h4>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>        
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
            <p>-</p>
    </div>
</div>