<%= simple_form_for @song do |form|%>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> <%= t('songs.errors') %>:</h2>

      <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.input :name %>
  </div>

  <div class="field">
    <%= form.input :artist %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_select :year %>
  </div>

  <div class="actions">
    <%= form.button :submit, class:"btn btn-default btn-light" %>
  </div>
<% end %>
