





<div class="container">
  <div class="jumbotron">
  <p id="notice"><%= notice %></p>
  <h3><%= t('songs.title') %></h3>
  <%= link_to 'Add new Song', new_song_path, class:"btn btn-default" %>
    <div class="row">
      <% @songs.each do |song| %>

        <div style="margin-top: 30px;" class="col-1">
          <div class="thumbnail">
            <!-- <img src="..." alt="..."> -->
            <div class="caption">
              <h3 class="songName"><td><%= song.name %></td></h3>
              <td class="songArtist"><%= song.artist %></td>
              <td class="songYear"><%= song.year %></td>
              <p>
              
                <%= link_to 'Delete', song_path(song.id, song), method: :delete, class:"btn btn-danger" %>
              </p>
            </div>
          </div>
        </div>

      <% end %>
    </div>
    <%= link_to 'Back', albums_path, class:"btn btn-default" %>
  </div>
</div>  

<br>

