<div class="container">
  <div class="jumbotron">

    <h3> Contact </h3>

    <div class="errorMessage" ><%= notice %></div>

    <%= simple_form_for @contact do |f|%>
      <span class="InputJQuery">
        <%= f.input :name %>
        <%= f.input :email %>
        <%= f.input :message %> 
      </span>
      <%= f.button :submit, 'Send message', class:"btn btn-default btn-light" %>
     
    <% end %>

      <Button id="Home" class="btn btn-default btn-light"> <%= link_to("Home", "/") %> </Button>
  </div>
</div>