%h1 Contact#new
%p Find me in app/views/contact/new.html.haml

= notice

= simple_form_for @contact do |f|
  = f.input :name 
  = f.input :email 
  = f.input :message  
  = f.button :submit, 'Send message'
