<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> <%= t('app_title') %> </title>



    <meta name="description" content="<%=t('app_description')%>">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'modernizr' %>
    <%= csrf_meta_tags %>

  </head>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div>
        <ul class="nav navbar-nav">
          <li id="homeLink"><a href="/">Home </a></li>
          <li><a href="<%= albums_path %>">Albums</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if !current_user  %>
          <li><a href="<%= login_path %>">Login</a></li>
          <li><a href="<%= users_path %>">Register</a></li>
          <li><a href="<%= contact_path %>">Contact</a></li>
          <% else %>
          <li><a href="<%= contact_path %>">Contact</a></li>
          <li><a href="<%= "/logout" %>">Logout</a></li>
          <% end %>
          
        </ul>
    
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <body>

  

    <%= yield %>

  </body>
</html>


